* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(3, 107, 82);
}

span {
    color: rgb(100, 18, 159);
    font-size: 20px;
    line-height: 0;
    text-transform: lowercase;
}

form {
    width: 70%;
    margin:  30px auto auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(217, 217, 217);
    color: rgb(61, 61, 61);
}

.space-behind {
    margin: 10px 0px 10px;
}

.margin-top-input {
    margin: 30px;
}

#input-name, #input-email, #textarea, #input-date{
    width: 100%;
    padding: 10px 0px;
}

fieldset {
    padding: 10px;
    text-align: center;
}

fieldset legend {
    text-align: left;
}

textarea {
    resize: none;
}

.btn {
    padding: 0px 5px;
    border-radius: 5px;
}

#btns {
    display: flex;
    justify-content: space-between;
}

#send {
    background-color: rgba(47, 144, 47, 0.903);
    color: white;
    
}

#send:hover {
    background-color: rgba(63, 187, 63, 0.903);
}

#reset {
    background-color: rgba(212, 52, 52, 0.903);
    color: white;
}

#reset:hover {
    background-color: rgba(254, 64, 64, 0.903);
}

#bar {
    width: 70%;
    margin: auto;
}

.colors {
    width: 80%;
    height: 4px;
    display: inline-block
}

#gradient {
    background-image: linear-gradient(to right, rgb(3, 107, 82), rgb(100, 18, 159), rgb(198, 190, 45), rgb(135, 153, 207));
    width: 100%;
}